h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-transform: uppercase;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}





.date {
  transform: scale(0.90, 0.90);
  -ms-transform: scale(0.90, 0.90);
  -webkit-transform: scale(0.90, 0.90);
}

.fill-picture {
  height: 100vh;
  //width: 100vw;
  background-size: 175%;
    // width: initial;
    background-repeat: no-repeat;
    // max-width: initial;
    // max-height: initial;
    // background-size: contain;
    background-position-x: right;
    background-position-y: top;
  }

.fill-background {
  height: 100vh;
  background-color: $mistyrose;
}

.small-location {
  @media (min-width: 474px){
    margin-bottom: 30px;
  }
  max-height: 100%;
  @media (max-height: 550px){
    display: none;
  }
  //padding-bottom: 25px;
}
.small-date{
  @media (max-height: 541px){
    display: none;
  }
}
.hashtag {
  @media (min-width:474px){
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
  }
  @media (max-height: 550px){
    display: none;
  }
}
.hashtag-text {
  text-transform: lowercase;
  text-align: center;
}

.horizontal-location {
  padding-bottom: 30px;
}

.small-details {
  position: absolute;
  bottom: 2rem;
}

.fill-picture {
  height: 100vh;
  //width: 100vw;
  background-size: 175%;
    // width: initial;
    background-repeat: no-repeat;
    // max-width: initial;
    // max-height: initial;
    // background-size: contain;
    background-position-x: right;
    background-position-y: top;
  }

  .fill-picture-medium {
    height: 100vh;
    background-size: 125%;
      // width: initial;
      background-repeat: no-repeat;
      // max-width: initial;
      // max-height: initial;
      // background-size: contain;
      background-position-x: right;
    background-position-y: top;
    }

  .fill-picture-large {
    height: 100vh;
    background-size: 125%;
      // width: initial;
      background-repeat: no-repeat;
      // max-width: initial;
      // max-height: initial;
      // background-size: contain;
      background-position-x: right;
    background-position-y: top;
    }

// Add Custom Font
@font-face {
  font-family: "scrogglet";
  src: 
    local("Scrogglet"), local("scrogglet"), local("scroggletregular"),
    url('font/scrogglet-webfont.woff2') format('woff2'),
    url('font/scrogglet-webfont.woff') format('woff'),
    url("font/scrogglet.ttf") format('truetype'),
    url("font/scrogglet.eot") format('embedded-opentype');
}

.nav-font {
  font-family: "scrogglet";
  text-transform: uppercase;
  font-size: 1.2em;
  color: $darkslateblue;
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  // box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: .5 0 0px;
  }

  .title-bar-title {
    font-weight: 800;
  }
}

.medium-header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
 }

