h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-transform: uppercase;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}

.hashtag {
  text-transform: lowercase;
}

// Add Custom Font

@font-face {
  font-family: 'scrogglet';
  src:
    local("Scrogglet"),
    local("scrogglet"),
    local("scroggletregular")
    url("assets/fonts/scrogglet.ttf")
    format("truetype");
  src:
    url("assets/fonts/scrogglet.eot")
    format("opentype");
  src:
    url('scrogglet-webfont.woff2') 
    format('woff2'),
    url('scrogglet-webfont.woff')
    format('woff');  
}

.nav-font {
  font-family: "scrogglet";
  text-transform: uppercase;
  font-size: 1.2em;
  color: $darkslateblue;
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  // box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: .5 0 0px;
  }

  .title-bar-title {
    font-weight: 800;
  }
}

.medium-header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
 }

