---
layout: main-sidebar
title: Blowing Rock
description: 
keywords:
permalink: /blowing-rock/
footer: disable
header:
  image: blowing-rock-condo-pano.jpg
  overlay_filter:
  overlay_color: 
  cta_url:
---

<div class="sections">
  <section id="accomodations" data-magellan-target="accomodations">
      <h2>Accomodations</h2>
    <div class="card-grid grid-x mtl" id="accomodations">
      <div class="cell large-3">
          {% include container.html 
            card-title="Eseeola Lodge"
            photo="/accomodations/eseeola-chairs.jpg"
            description="This is a discription" 
            rooms="10"
            star=""
            hold-deadline=""
            rate=""
            star=""
            link="http://www.eseeola.com/accommodations/"
            %}
      </div>
      <div class="cell large-3">
          {% include container.html 
            card-title="Holiday Inn Express - Blowing Rock South"
            photo="/accomodations/holiday-inn-express.jpg"
            description="This is a discription" 
            rooms="20"
            hold-deadline="April 17, 2019"
            rate="$119.00/night + 12.5% tax"
            star=""
            link="https://www.hiexpress.com/redirect?path=hd&brandCode=EX&localeCode=en&regionCode=1&hotelCode=BOORN&_PMID=99801505&GPC=CBG&viewfullsite=true"
            %}   
      </div>
      <div class="cell large-3">
          {% include container.html 
            card-title="New Public House & Hotel"
            photo="/accomodations/new-public-house.jpg"
            description="Reference the Cain/Baarbe Wedding" 
            rooms="8"
            hold-deadline="April 17, 2019"
            rate="$275.00/night + 12.5% tax"
            star=""
            link="http://www.thenewpublichouse.com/lodging/"
            %}   
      </div>

      
    </div>
      

  </section>
    
    {% include map.html %}
  <section id="travel" data-magellan-target="travel">
    <h3>Travel</h3>
  </section>
   <section id="things_to_do" data-magellan-target="things_to_do">
      <h3>Things to Do</h3>
   </section>
    
</div>
