---
layout: main-sidebar
title: Blowing Rock
description: We're excited to invite you to join us in Blowing Rock, North Carolina. Discover things to do, book accomodations, plan your travel, and explore some of our favorite resturants. 
keywords:
permalink: /blowing-rock/
footer: disable 
header:
  shadow: on
  image: blowing-rock-condo-pano.jpg
  overlay_filter:
  overlay_color: 
  cta_url:
---

<div class="sections">
  <section id="todo" data-magellan-target="todo">
    <h2 class="section-title">Things to Do</h2>
    <div class="text-container" id="extra-info">
        <p>We are very excited to invite you to North Carolina's High Country. The mountains are full of things to do. These are some of the many activities we enjoyed doing together.</p>
      </div>
    <div class="card-grid grid-x pvm">
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Grandfather Mountain State Park"
              photo="/todo/grandfather-mountain.jpeg"
              photo-position="right"
              map_url=""
              description="Cross the mile-high swinging bridge for panoramic views from the peak of Grandfather Mountain. Watch otters play at the zoo on your way down." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="https://grandfather.com"
              map-link="https://goo.gl/maps/sUD4TDTEmPv"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Rough Ridge Hiking Trail"
              photo="/todo/rough-ridge.jpg"
              map_url=""
              description="Just off the Linn Cove viaduct on the Blue Ridge Parkway, this rocky trail with craigy rocks and stunning views is one of our favorite hikes." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="More Info"
              button_icon="fas fa-external-link-alt"
              link="https://www.alltrails.com/trail/us/north-carolina/rough-ridge"
              map-link="https://goo.gl/maps/8ZgUtY5z3Tw"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Mast General Store"
              photo="/todo/mast-general.jpg"
              map_url=""
              description="This historic general store is recognized as one of the best remaining examples of the type. They carry everything from plaid shirts to bottles of ice cold Cheerwine. Don't forget to stop for the candy shop in the Annex, down the street." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="https://www.mastgeneralstore.com/"
              map-link="https://goo.gl/maps/7tjDorWuHao"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="The Greater Foscoe Mining Co"
              photo="/todo/gem-mining.jpg"
              map_url=""
              description="Sift through emerald mine trailings for gems and geodes. Be sure to take your findings next door to be appraised." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="http://www.foscoeminingco.com/"
              map-link="https://goo.gl/maps/r5DPQTh3aPr"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Main Street, Blowing Rock"
              photo="/todo/main-street.jpg"
              map_url=""
              description="Downtown Blowing Rock features quaint shops and cozy restaurants. We love getting ice cream and free fudge samples at Kilwins or a cold drink from the Market Gas Station." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="More Info"
              button_icon="fas fa-external-link-alt"
              link="https://blowingrock.com/shopping/"
              map-link="https://goo.gl/maps/BgQ3nEts1yz"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Price Lake Boat Rentals"
              photo="/todo/canoe.jpg"
              map_url=""
              description="Rent canoes, kiakas, or paddle-boards on this peaceful lake. Our trip around the lake took about an hour. Head out to the left side of the dam for a view of Cone Manor." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="https://www.pricelakeboatrentals.com/"
              map-link="https://goo.gl/maps/A7PExodZhEs"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
      </div>
      <div class="text-container mbl">
          <a href="https://drive.google.com/open?id=1pz6XdNRfvEbjhedc4bv8vqsiA7HWCtdc&usp=sharing" class="hollow mbl button align-center" id="map-button">View on Map</a>
      </div>
    </section>
  <section class="" id="accomodations" data-magellan-target="accomodations">
      <h2 class="section-title" >Accomodations</h2>
      <div class="text-container" id="extra-info">
          <p>We will be providing shuttle service to the reception venue at the Camp at Eseeola in Linville, NC. Pick up locations will include Village Inn, Hillwinds Inn, Ridgeway Inn, the Holiday Inn Express, and Eseeola Lodge.</p>
      </div>
    <div class="card-grid grid-x pvm" id="accomodations">
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="Eseeola Lodge"
            photo="/accomodations/eseeola-chairs.jpg"
            map_url=""
            description="Located at the foot of Grandfather Mountain in Linville, this bark-shingled resort will host our ceremony and reception. Booking opens in December." 
            airport-code=""
            rooms="10"
            travel-time=""
            hold-deadline="December 1, 2019"
            by-after="after"
            rate="$349/night"
            button_text="Website"
            button_icon="fas fa-external-link-alt"
            link="http://www.eseeola.com/accommodations/"
            map-link="https://goo.gl/maps/48wx6VNrtuT2"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}
      </div>
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="The Village Inns"
            photo="/accomodations/hillwinds-inn.jpg"
            map_url=""
            description="This family of inns are clustered around Blowing Rock. Group rates for Hillwinds Inn, Ridgeway Inn, and Village Inn will be posted by December." 
            airport-code=""
            rooms="64"
            travel-time=""
            hold-deadline="December 1, 2019"
            by-after="after"
            rate="$110.00/night"
            button_icon="fas fa-external-link-alt"
            button_text="Website"
            link="https://www.thevillageinnsofblowingrock.com/"
            map-link="https://goo.gl/maps/Xq13nicGgdA2"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}   
      </div>
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="Holiday Inn Express - Blowing Rock South"
            photo="/accomodations/holiday-inn-express.jpg"
            map_url=""
            description="Minutes from Main Street and the Blue Ridge parkway, this hotel offers a convenient location. Mention the Cain Wedding when you book." 
            airport-code=""
            rooms="20"
            travel-time=""
            hold-deadline="April 17, 2019"
            by-after="by"
            rate="$119.00/night"
            button_text="Book&nbsp;here"
            button_icon="fas fa-external-link-alt"
            link="https://www.hiexpress.com/redirect?path=hd&brandCode=EX&localeCode=en&regionCode=1&hotelCode=BOORN&_PMID=99801505&GPC=CBG&viewfullsite=true"
            map-link="https://goo.gl/maps/2STrBWPWU9G2"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}   
      </div>
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="Chetola Resort"
            photo="/accomodations/chetola-resort.jpg"
            map_url=""
            description="This 87-acre resort is a 5 minute walk from Main Street, Blowing Rock. In addition to hotel rooms Chetola offers condos with 2 to 4 bedrooms. " 
            airport-code=""
            rooms=""
            travel-time=""
            hold-deadline=""
            by-after="by"
            rate="$275.00/night"
            button_icon="fas fa-external-link-alt"
            button_text="Book here"
            link="https://www.chetola.com/"
            map-link="https://goo.gl/maps/gciHQjW9Bcu"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}   
      </div>
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="New Public House & Hotel"
            photo="/accomodations/new-public-house.jpg"
            map_url=""
            description="A cozy bed & breakfast off Main Street, NPH is also one of our favorite places for Sunday brunch. Reference the Cain/Baarbe Wedding when booking." 
            airport-code=""
            rooms="4"
            travel-time=""
            hold-deadline="April 17, 2019"
            by-after="by"
            rate="$275.00/night"
            button_icon="fas fa-external-link-alt"
            button_text="Book here"
            link="http://www.thenewpublichouse.com/lodging/"
            map-link="https://goo.gl/maps/D59nB5dXNJC2"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}   
      </div>
      <div class="cell medium-6 large-12">
          {% include container.html 
            card-title="VRBO"
            photo="/accomodations/vrbo.jpg"
            map_url=""
            description="There are a number of beautiful homes available to rent. We recommend we recommend looking around Main Street Blowing Rock, Alpine Ski Mountain, or Sugar Mountain" 
            airport-code=""
            rooms=""
            travel-time=""
            hold-deadline=""
            by-after=""
            rate=""
            button_icon="fas fa-external-link-alt"
            button_text="Website"
            link="https://www.vrbo.com/results?petIncluded=false&ssr=true&adultsCount=5&childrenCount=0&neLat=36.19126053759746&neLong=-81.65003503723369&swLat=36.0918648248316&swLong=-81.71812559528576&zoom=13&infantsCount=0&q=Blowing%20Rock%2C%20NC%2C%20USA&from-date=2019-05-15&to-date=2019-05-20"
            map-link="https://www.vrbo.com/results?petIncluded=false&ssr=true&adultsCount=5&childrenCount=0&neLat=36.19126053759746&neLong=-81.65003503723369&swLat=36.0918648248316&swLong=-81.71812559528576&zoom=13&infantsCount=0&q=Blowing%20Rock%2C%20NC%2C%20USA&from-date=2019-05-15&to-date=2019-05-20"
            location-text="Location"
            blank-fa-icon=""
            blank=""
            %}   
      </div>
    </div>  
    </section>
  <section class="mtl" id="travel" data-magellan-target="travel">
    <h2 class="section-title">Travel</h2>
    <div class="text-container"id="extra-info">
        <p>By car, Blowing Rock, NC is a three hour drive from Raleigh and a 13 hour drive from Toronto. The closest airports are about two hours away. We recommend renting a car for the weekend.</p>
    </div>
    <div class="card-grid grid-x pvm">
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Charlotte Douglas Intl Airport"
              photo=""
              map_url="https://www.google.com/maps/d/u/0/embed?mid=1Jb4WhdJxMynFVTTRDbkEHi4_OwFkj91E"
              map-large-height="270px"
              description="We recommend flying into CLT. It is the closest airport, located about 90 miles away from Blowing Rock." 
              airport-code="CLT"
              rooms=""
              travel-time="1 h 44 min"
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="http://www.cltairport.com/Pages/default.aspx"
              map-link="https://www.google.ca/maps/dir/CLT+airport,+Josh+Birmingham+Parkway,+Charlotte,+NC,+USA/Blowing+Rock,+NC,+USA/@35.6745694,-81.5387103,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8856987db74ad489:0x1aba4a6f3cc4a737!2m2!1d-80.9473146!2d35.2144026!1m5!1m1!1s0x8850e550ea77a3b9:0x95376337d13c1fa9!2m2!1d-81.6776059!2d36.135129!3e0"
              location-text="Directions"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Piedmont Triad Intl Airport"
              photo=""
              map_url="https://www.google.com/maps/d/u/0/embed?mid=17QgKYXiXo-LZUkjXfeqWVhBT96WMM9jy"
              map-large-height="325px"
              description="This airport is located in Greensboro, NC. Because it is a smaller airport, international flights may be limited. Domestic discount flights, however, can often be found for as little as $29 one way." 
              airport-code="PTI"
              rooms=""
              travel-time="2 h"
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="https://flyfrompti.com/"
              map-link="https://www.google.ca/maps/dir/Piedmont+Triad+International+Airport+(GSO),+1000+Ted+Johnson+Pkwy,+Greensboro,+NC+27409,+USA/Blowing+Rock,+NC,+USA/@35.9525473,-83.0416453,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x885304a0c16ebc03:0x7cfb5c322ea44951!2m2!1d-79.9351805!2d36.1043671!1m5!1m1!1s0x8850e550ea77a3b9:0x95376337d13c1fa9!2m2!1d-81.6776059!2d36.135129!3e0"
              location-text="Directions"
              blank-fa-icon=""
              blank=""
              %}
        </div>
      </div>
    </section>
  <section id="restaurants" data-magellan-target="restaurants">
      <h2 class="section-title">Restaurants</h2>
    <div class="text-container" id="extra-info">
        <p></p>
    </div>
    <div class="card-grid grid-x pvm">
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Sunny Rock and Foggy Rock"
              photo="/restaurants/foggy-rock.jpg"
              map_url=""
              description="These two restaurants are located next to each other. Sunny Rock Eggs and Things serves some of our favorite breakfast food. We love the Avocado Spring Rolls and Bang Bang Shrimp Salad at Foggy Rock Eatery and Pub."
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="https://www.facebook.com/foggyrock/"
              map-link="https://goo.gl/maps/xbYeSGh8vsN2"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="The Town Tavern"
              photo="/restaurants/town-tavern.jpg"
              map_url=""
              description="This Main Street watering hole is the center of the community. Sample their large selection of craft beers while watching the game or listening to live music."
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="http://www.towntavernbr.com/"
              map-link="https://goo.gl/maps/8PddCBLKwR92"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Dan'l Boone Inn"
              photo="/restaurants/danl-boon-inn-2.jpg"
              map_url=""
              description="Enjoy a southern meal in this historical building. Staff in period costume serve breakfast and dinner family-style. Only the country ham biscuits are limited." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="http://www.danlbooneinn.com/"
              map-link="https://goo.gl/maps/TgH976iJo2E2"
              location-text="Location"
              blank-fa-icon=""
              blank=""
              %}
        </div>
        <div class="cell medium-6 large-12">
            {% include container.html 
              card-title="Artisanal"
              photo="/restaurants/artisanal.jpg"
              photo-position="right"
              map_url=""
              description="Possibly one of the best restaurants in the state. Artisanal offers a fully farm to table menu and an extensive wine cellar. We recommend reserving a table on the covered porch looking  Business casual dress code, reservations are recommended." 
              airport-code=""
              rooms=""
              travel-time=""
              hold-deadline=""
              by-after=""
              rate=""
              button_text="Website"
              button_icon="fas fa-external-link-alt"
              link="http://www.artisanalnc.com/"
              map-link="https://www.google.ca/maps/dir/CLT+airport,+Josh+Birmingham+Parkway,+Charlotte,+NC,+USA/Blowing+Rock,+NC,+USA/@35.6745694,-81.5387103,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8856987db74ad489:0x1aba4a6f3cc4a737!2m2!1d-80.9473146!2d35.2144026!1m5!1m1!1s0x8850e550ea77a3b9:0x95376337d13c1fa9!2m2!1d-81.6776059!2d36.135129!3e0"
              location-text="Directions"
              blank-fa-icon=""
              blank=""
              %}
        </div>
      </div>
    </section>
</div>
