<!-- Call to Action -->
<div class="grid-x mal" id="call-to-action">
    <div class="cell medium-2 large-3"></div>
    <div class="cell auto text-container pal">
      <p>This quaint village with stunning views is Cameron's home away from home. Jeremiah visted these mountains each summer as a child. They are excited to welcome you to Blowing Rock, North Carolina to  celebrate their marriage. </p>
      <div class="icon-links mtl">
        <span class="cta-icon">
            <a href="https://www.google.ca/maps/place/Blowing+Rock,+NC,+USA/">
              <i class="fas fa-map-marker-alt fa-2x"></i>
            </a>
        </span>
        <span class="cta-icon">
            <a href="https://en.wikipedia.org/wiki/Blowing_Rock,_North_Carolina">
              <i class="fab fa-wikipedia-w fa-2x"></i>
            </a> 
        </span>
        <span class="cta-icon">
            <a href="https://www.tripadvisor.ca/Tourism-g48966-Blowing_Rock_North_Carolina-Vacations.html">
              <i class="fab fa-tripadvisor fa-2x"></i>
            </a>
        </span>
      </div>
      <!-- <ul class="mtl fa-ul icon-links">
        <li class="fa-li"> 
          <a href="https://www.google.ca/maps/place/Blowing+Rock,+NC,+USA/">
            <i class="fas fa-map-marker-alt fa-2x"></i>
          </a>
        </li>
        <li class="fa-li">
          <a href="https://en.wikipedia.org/wiki/Blowing_Rock,_North_Carolina">
            <i class="fab fa-wikipedia-w fa-2x"></i>
          </a> 
        </li>
        <li class="fa-li">
          <a href="https://www.tripadvisor.ca/Tourism-g48966-Blowing_Rock_North_Carolina-Vacations.html">
            <i class="fab fa-tripadvisor fa-2x"></i>
          </a>
        </li>
      </ul> -->
      
    </div>
    <div class="cell medium-2 large-3"></div>
  </div>
  <!-- End call to action -->