<li>
    <img class="hide-for-medium", src="{{ site.url }}/assets/img/website-logo2.png" alt="">
  </li>
<li>
   <a class="nav-font", href="">
    Our Story
   </a>
</li>
<li>
  <a class="nav-font", href="page-html-unit-test.html">
    Blowing Rock
  </a>
</li>
<li>
  <img class="show-for-large", src="{{ site.url }}/assets/img/website-logo2.png" alt="">
</li>
<li>
  <a class="nav-font", href="page-foundation-example.html">
    Information
  </a>
</li>
<li>
  <a class="nav-font", href="page-template-example.html">
    Registry
  </a>
</li>