
  <li>
    <a class="", href="{{ site.url }}/our-story/">
    Our Story
    </a>
  </li>
  {% unless page.header_graphic %}
    <li id="calligraphy" class="hide-for-small">
      <a href="{{ site.url }}">
          <img class="medium-header-img hide-for-small", src="{{ site.url }}/img/nav/CalligraphyLettering_Web-01_test.png" alt="">
      </a>
    </li>
  {% endunless %}
  
  <li class="active">
    <a href="{{ site.url }}/blowing-rock/">Blowing Rock</a>
    <ul>
      <li><a href="{{ site.url }}/blowing-rock/#accomodations">Accomodations</a></li>
      <li><a href="{{ site.url }}/blowing-rock/#travel">Travel</a></li>
      <li><a href="{{ site.url }}/blowing-rock/#todo">Things to Do</a></li>
      <li><a href="{{ site.url }}/blowing-rock/#restaurants">Resturants</a></li>
    </ul>
  </li>

  <!-- <li>
  <a class="nav-font", href="">
    Information
  </a>
  </li>
  <li>
  <a class="nav-font", href="">
    Registry
  </a>
  </li> -->
