
<!-- START ON CANVAS MENU -->
    <div class="title-bar">
      <div class="title-bar-left">
        <h4 class="title-bar-title font-heavy mas"><a href="{{ site.url }}">{{ site.brand }}</a></h4>
      </div>
      <div class="title-bar-right mts">
        <div class="show-for-medium menu align-right simple quiet">
          {% include menu.html %}
        </div>
        <ul class="hide-for-medium menu align-right simple">
          <li><button class="secondary button" data-toggle="offCanvas" type="button"><i aria-hidden="true" class="fas fa-bars"></i> MENU</button></li>
        </ul>
      </div>
    </div>
  <!-- END ON CANVAS MENU-->