<div class="title-bar hide-for-medium">
      <div class="title-bar-left">
          {% unless page.header_graphic %}
          <a href="{{ site.url }}"><img src="{{ site.url }}/img/nav/CalligraphyLettering_Web-01_test.png" alt="Cameron and Jeremiah"></a>
          {% endunless %}
      </div>
      <div class="title-bar-right menu align-right mrm mts">
          <li>
            <button class="button clear large" data-toggle="offCanvas" type="button">
              <i aria-hidden="true" class="fas fa-bars"></i>
            </button>
          </li>
      </div>  
</div>
<div class="menu dropdown align-center mvm grid-y simple show-for-medium menu-hover-lines" data-dropdown-menu>
  {% include menu.html %}
</div>
    



