{% if page.header.image contains "://" %}
  {% capture img_path %}{{ page.header.image }}{% endcapture %}
{% else %}
  {% capture img_path %}{{ site.url }}/img/hero/{{ page.header.image }}{% endcapture %}
{% endif %}

{% if page.header.image_small contains "://" %}
  {% capture img_path_small %}{{ page.header.image_small }}{% endcapture %}
{% else %}
  {% capture img_path_small %}{{ site.url }}/img/hero/{{ page.header.image_small }}{% endcapture %}
{% endif %}

{% if page.header.cta_url contains "://" %}
  {% capture cta_path %}{{ page.header.cta_url }}{% endcapture %}
{% else %}
  {% capture cta_path %}{{ page.header.cta_url | absolute_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_image contains "://" %}
  {% capture overlay_img_path %}{{ page.header.overlay_image }}{% endcapture %}
{% elsif page.header.overlay_image %}
  {% capture overlay_img_path %}{{ page.header.overlay_image | absolute_url }}{% endcapture %}
{% endif %}

{% if page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
{% endif %}

{% if img_path_small %}
  <div style="background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{img_path_small}}');" class="hide-for-medium hero{% if page.header.overlay_color %}-overlay{% endif %}">
      {% if page.header.overlay_color or page.header.image %}
      <div class="title--wrapper">
        <h1 class="page__title" itemprop="headline">
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </h1>
        {% if page.excerpt %}
          <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
        {% if page.header.cta_url %}
          <p><a href="{{ cta_path }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
        {% endif %} 
        
      </div>
    {% endif %}
    {% if page.header.caption %}
      <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
    {% endif %}
  </div>
{% endif %}


<div style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{img_path}}');{% endif %}" class="show-for-medium hero{% if page.header.overlay_color %}-overlay{% endif %}">
  {% if page.header.overlay_color or page.header.image %}
    <div class="title--wrapper">
      <h1 class="page__title" itemprop="headline">
        {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
      </h1>
      {% if page.excerpt %}
        <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% if page.header.cta_url %}
        <p><a href="{{ cta_path }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
      {% endif %} 
      
    </div>
  {% endif %}
  {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>



