---
layout: default

---

<div class="grid-container full" id="cell-block">
  {% include page_hero.html %}

  {% include call-to-action.html %}

  <!-- Body -->
  <article class="grid-x docs-component" id="content">
    <div class="cell show-for-large large-1"></div>
    <!-- Start Content Section -->
    <div class="cell large-8 docs-component-inner">
        {{ content }}
    </div>
    <!-- End Content Section -->
    <!-- Start Sticky Side Menu -->
    <div class="cell show-for-large large-2 right">
      <div data-sticky-container class="sticky-container" id="top">
          <nav class="sticky" data-sticky data-top-anchor="cell-block-container" data-margin-top="1">
              <ul class="vertical menu" data-magellan>
                <li class="docs-nav-title"><h5>{{ page.title }}</h5></li>
                <li>
                  <a href="#todo">Things to Do</a>
                </li>
                <li>
                  <a href="#accomodations">Accomodations</a>
                </li>
                <li>
                  <a href="#travel">Travel</a>
                </li>
                
                <li>
                  <a href="#restaurants">Restaurants</a>
                </li>
              </ul>
              <hr class="docs-toc-divider small">
            </nav>
       </div>
       <!-- End Sticky Side Menu -->
    </div>
  </article>
  <div class="overlay" id="banner"onClick="style.pointerEvents='none'"></div>
  <iframe
    width="100%"
    height="340px"
    frameborder="0"
    style="border:0; top:-50px;"
    scrolling="no"
    scrollwheel="false"
    src="https://www.google.com/maps/d/u/0/embed?mid=1pz6XdNRfvEbjhedc4bv8vqsiA7HWCtdc" disablefullscreen >
  </iframe>
</div>



  




