---
layout: default

---

<div class="cell-block">
  {% include page_hero.html %}
<!-- Call to Action -->
  <div class="grid-x mal">
    <div class="cell medium-2 large-3"></div>
    <div class="cell auto text-container pal">
      <p>This quaint village with stunning views is Cameron's home away from home. Jeremiah visted these mountains each summer as a child. They are excited to welcome you to Blowing Rock, North Carolina to  celebrate their marriage. </p>
      <ul class="mtl fa-ul icon-links">
        <li class="fa-li"> 
          <a href="https://www.google.ca/maps/place/Blowing+Rock,+NC,+USA/">
            <i class="fas fa-map-marker-alt fa-2x"></i>
          </a>
        </li>
        <li class="fa-li">
          <a href="https://en.wikipedia.org/wiki/Blowing_Rock,_North_Carolina">
            <i class="fab fa-wikipedia-w fa-2x"></i>
          </a> 
        </li>
        <li class="fa-li">
          <a href="https://www.tripadvisor.ca/Tourism-g48966-Blowing_Rock_North_Carolina-Vacations.html">
            <i class="fab fa-tripadvisor fa-2x"></i>
          </a>
        </li>
      </ul>
      
    </div>
    <div class="cell medium-2 large-3"></div>
  </div>
  <!-- End call to action -->
  <!-- Body -->
  <article class="grid-x docs-component">
    <div class="cell large-1"></div>
    <div class="cell large-8 docs-component-inner">
        {{ content }}
    </div>
    <div class="cell large-2 right">
        <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1px">
            <ul class="vertical menu" data-magellan>
              <li class="docs-nav-title"><h4>{{ page.title }}</h4></li>
              <li>
                <a href="#accomodations">Accomodations</a>
              </li>
              <li>
                <a href="#travel">Travel</a>
              </li>
              <li>
                <a href="#things_to_do">Things to Do</a>
              </li>
            </ul>
            <hr class="docs-toc-divider small">
        </div>
      </div>
    </div>
  </article>
</div>



  




